@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  :root {
    --background: 157 20% 7.5%; /* #111714 */
    --foreground: 0 0% 98%;

    --card: 157 20% 10.5%;
    --card-foreground: 0 0% 98%;

    --popover: 157 20% 10.5%;
    --popover-foreground: 0 0% 98%;

    --primary: 202 67% 50%; /* #299ad6 */
    --primary-foreground: 157 20% 7.5%;

    --secondary: 157 20% 13.5%;
    --secondary-foreground: 0 0% 98%;

    --muted: 157 20% 13.5%;
    --muted-foreground: 0 0% 60%;

    --accent: 202 67% 50%;
    --accent-foreground: 157 20% 7.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 157 20% 15.5%;
    --input: 157 20% 15.5%;
    --ring: 202 67% 60%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Shock Surgent';
  src: url('/fonts/Shock Surgent.otf') format('opentype');
}

@font-face {
  font-family: 'Dodger';
  src: url('/fonts/DodgerCondensed-Wpyz9.otf') format('opentype');
}
