@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  :root {
    --background: 0 0% 13.3%; /* #222222 */
    --foreground: 0 0% 98%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 16%;
    --popover-foreground: 0 0% 98%;

    --primary: 205 38% 29%; /* #2E5266 */
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 66%; /* #A8A8A8 */
    --accent-foreground: 0 0% 13.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 205 38% 45%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
